* {
  margin: 0;
  padding: 0;
}

body {
  font: 18px/24px "Roboto", Helvetica, Helvetica Neue, Arial;
  font-weight: 300;
  background: black;
  color: white;
  overflow-x: hidden;
}

header {
  overflow: hidden;
}

header>img {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
}
h1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.centered-absolute {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}

.centered-relative {
  display: block;
  position: relative;
  margin: auto;
}

.background-image {
  background-position: center center;
  background-size: cover;
}

.navigation {
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5.0vw;
}
.navigation, .box h3 {
  background: #222222;
}

.navigation__ul {
  display: flex;
  flex-grow: 0.7;
  height: 100%;
}

.navigation__ul li {
  padding: 0 10px 0 10px;
  color: white;
  flex-grow: 1;
  list-style: none;
  text-align: center;
  position: relative;
  margin: auto;
}

.navigation__ul li:nth-child(4) {
  margin-top: 0.5%;
  background-image: url(/img/tree--white-blue.png);
  height: 300%;
  background-size: contain;
  background-repeat: no-repeat;
}

.navigation ul li a {
  font-family: "Roboto Condensed";
  border-top: 3px solid #000000;
  display: block;
  padding: 5px;
  color: #666666;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.tree-container {
  /* -webkit-clip-path: polygon(100% 0, 100% 75%, 50% 88%, 0 75%, 0 0);
  clip-path: polygon(100% 0, 100% 75%, 50% 88%, 0 75%, 0 0); */
  width: 100vw;
  height: 56.2vw;
  margin-top: 5vw;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}
.box {
  position: absolute;
  width: 16vw;
}
.box h3{
  margin: auto;
}
.box h3, .box p {
  padding: 15px;
  font-size: 18px;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}
.box.loaded h3, .box.loaded p {
  opacity: 1;
}
.box p {
	font: 18px/24px "Roboto", Helvetica, Helvetica Neue, Arial;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	background: #c91115;
}
.box--red{
  top: 5vw;
  left: 14vw;
}
.box--red p {
  background: #C91115;
}
.box--blue {
  top: 25vw;
  left: 12.5vw;
}
.box--blue p {
  background: #6360AA;
}
.box--green {
  top: 5vw;
  right: 14vw;
}
.box--green p {
  background: #6EA131;
}
.box--light-blue {
  top: 25vw;
  right: 12.5vw;
}
.box--light-blue p {
  background: #2d87c6;
}

.tree-container__tree {
  position: absolute;
  top: 0vh;
}

.pan-animation {
  width: 100vw;
  left: 0;
  display: block;
  position: absolute;
  animation-name: pan;
  animation-duration: 10s;
  animation-delay: 2s;
  transition: all 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.tree-container__header, .section__header {
  text-align: center;
  display: block;
  width: 100vw;
  line-height: 50px;
  color: white;
  font-size: 50px;
  top: 120vh;
}

.section.about {
  position: relative;
  height: 50vw;
  padding: 3vw 5vw 3vw 5vw;
}

.section__header {
  width: 100%;
  padding-bottom: 1vw;
}

.section__paragraph {
  text-align: center;
}

.pan-animation--first-header {
  animation-name: pan--first-header;
  top: 21.24vw;
}

.pan-animation--second-header {
  animation-name: pan--second-header;
  text-align: left;
  left: 5vw;
}

.pan-animation--third-header {
  animation-name: pan--third-header;
  text-align: left;
  left: 70vw;
}

.pan-animation--fourth-header {
  animation-name: pan--fourth-header;
  text-align: left;
  left: 5vw;
}

@keyframes pan--first-header {
  0% {}
  25% {
    transform: scale(0.5);
    width: 200vw;
    top: -47.79vw;
    left: 0vh;
  }
  50% {
    width: 200vw;
    top: -67.46vw;
    left: -150vw;
  }
  75% {
    width: 200vw;
    top: -89.26vw;
    left: 0vw;
  }
  100% {
    width: 100vw;
    top: -51.849vw;
    left: -0vh;
  }
}

@keyframes pan--second-header {
  0% {
    transform: scale(0.5);
    left: -50vw;
  }
  25% {
    transform: scale(1);
    top: 25.03vw;
    left: 8vh;
  }
  50% {
    transform: scale(0.5);
    width: 200vw;
    top: -78.7vw;
    left: -80vw;
  }
  75% {
    width: 200vw;
    top: -101.2vw;
    left: -20vw;
  }
  100% {
    width: 100vw;
    top: -63.089vw;
    left: 0vw;
  }
}

@keyframes pan--third-header {
  0% {
    left: 100vw;
    top: 100vw;
  }
  25% {
    top: 81.03vw;
    left: 150vh;
    transform: scale(0.5);
  }
  50% {
    top: 25vw;
    left: 5vw;
    transform: scale(1);
  }
  75% {
    transform: scale(0.5);
    top: -101.2vw;
    left: 140vw;
  }
  100% {
    top: -63.089vw;
    left: 0vw;
  }
}

@keyframes pan--fourth-header {
  0% {
    left: -2vw;
    top: 120vh;
  }
  25% {
    top: 120vh;
    left: 8vh;
  }
  50% {
    top: 180vh;
    left: -80vw;
    transform: scale(0.5);
  }
  75% {
    transform: scale(1);
    top: 25.03vw;
    width: 200vw;
    left: 5vw;
  }
  100% {
    transform: scale(0.5);
    width: 100vw;
    top: -63.089vw;
    left: -100vw;
  }
}

@keyframes pan {
  0% {}
  25% {
    width: 200vw;
    top: -59.03vw;
    left: 0vh;
  }
  50% {
    width: 200vw;
    top: -78.7vw;
    left: -100vw;
  }
  75% {
    width: 200vw;
    top: -101.2vw;
    left: 0vw;
  }
  100% {
    width: 100vw;
    top: -63.089vw;
    left: -0vh;
  }
}

.animation-paused {
  animation-play-state: paused !important;
}

.overlay {
  background: black;
  position: absolute;
  width: 100vw;
  height: 90vw;
  animation-name: fade-out;
  left: 0;
  opacity: 0.6;
}

@keyframes fade-out {
  0% {
    opacity: 0.6;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
.box {
  transition: color 0.25s;
}
.box::before, .box::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.box::before {
  top: 0;
  left: 0;
}
.box::after {
  bottom: 0;
  right: 0;
}
.box::before, .box::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  z-index: 3;
}
.box::after {
  top: 0;
  left: 0;
}
.box.loaded::before, .box.loaded::after {
  width: 99%;
  height: 98%;
  z-index: 3;
}
.box.loaded::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.box.loaded::before {
  border-top-color: #fbca67;
  border-right-color: #fbca67;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.box.loaded::after {
  border-bottom-color: #fbca67;
  border-left-color: #fbca67;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
