* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font: 'Roboto Condensed';
  overflow-x: hidden;
  font-weight: 300;
  background: #0A0A0A;
  color: white;
}

header {
  background: #232323 !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background: #222222;
  transition: 1s;
  width: 100%;
  height: 5vw;
}

h4 {
  font-family: 'Roboto Condensed';
  font-size: 2vw;
}

.hamburger-inner:before, .hamburger-inner:after, .hamburger-inner {
  background-color: white !important;
}

.hidden {
  display: none;
}

.centered-absolute {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}

.centered-relative {
  display: block;
  position: relative;
  margin: auto;
}

.background-image {
  background-position: center center;
  background-size: cover;
}

.navigation {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

.navigation-container {
  display: flex;
  width: 65%;
  margin: auto;
  position: relative;
}

.navigation li {
  flex-grow: 1;
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
}

a.navigation__link {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-align: center;
  color: white;
  position: relative;
  text-decoration: none;
  line-height: 2vw;
  width: 80%;
  margin: auto;
}

a.navigation__link:not(.logo__anchor)::after, a.navigation__link:not(.logo__anchor)::before {
  height: 2px;
  z-index: 1;
  content: ' ';
  background: black;
  width: 100%;
  transition: 1s;
  transition-timing-function: ease-out;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

a.navigation__link:not(.logo__anchor)::before {
  background: blue;
  width: 0;
  z-index: 2;
}

a.navigation__link:hover:not(.logo__anchor)::before {
  width: 100%;
}

li.logo .navigation__link {
  border-top: 0px;
}

li.logo {
  flex-grow: 1;
}

a.navigation__link img {
  flex-grow: 1;
  left: 50%;
  transform: translateX(-50%);
  top: -1vw;
  display: block;
  margin: auto;
  max-width: 100%;
  position: absolute;
}

.box h3, .skills h3 {
  background: #222222;
  margin: auto;
  font-family: 'Roboto Condensed';
}

.tree-container {
  -webkit-clip-path: polygon(0 0, 99% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 99% 0, 100% 90%, 50% 100%, 0 90%);
  width: 100vw;
  height: 56.2vw;
  margin-top: 4vw;
  position: relative;
  overflow: hidden;
}

.box {
  opacity: 0;
  position: absolute;
  width: 16vw;
}

.box h3, .box p {
  padding: 1.09vw;
  font-size: 18px;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}

.box.box--opaque h3, .box.box--opaque p, .box.box--opaque {
  opacity: 1;
}

.box h3 {
  font-size: 1.8vw;
}

.box p {
  font: 18px/24px "Roboto", Helvetica, Helvetica Neue, Arial;
  font-size: 1.3vw;
  font-weight: 400;
  color: #ffffff;
}

.box--red, .box--green {
  top: 5vw;
}

.box--blue, .box--light-blue {
  top: 25vw;
}

.box--red {
  left: 14vw;
}

.box--red p {
  background: #C91115;
}

.box--blue {
  left: 12.5vw;
}

.box--blue p {
  background: #6360AA;
}

.box--green {
  right: 14vw;
}

.box--green p {
  background: #6EA131;
}

.box--light-blue {
  right: 12.5vw;
}

.box--light-blue p {
  background: #2d87c6;
}

.services-container {
  display: flex;
}

.services-container .services-container__box {
  /* overflow: hidden; */
  overflow: visible !important;
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  align-content: center;
}

.services-container .services-container__box h3 {
  background: rgba(0, 0, 0, 0);
  flex-grow: 1;
  /* position: absolute; */
}

.services-container .services-container__box img {
  width: 30%;
}

.services-container .services-container__box p {
  color: white;
  flex-grow: 100;
}

.tree-container__tree {
  position: absolute;
  top: 0vh;
}

.tree-container__tree, .tree-container__header {
  width: 100vw;
  line-height: 3.66vw;
  background-color: rgba(0, 0, 0, 0) !important;
  left: 0;
  display: block;
  position: absolute;
}

.tree-container__header {
  font-family: 'Roboto Condensed';
}

.tree--endpoint {
  width: 100vw;
  top: -63.089vw;
  left: -0vh;
}

.pan-animation {
  /* if screen is too small, trigger the boxes to fade in */
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-name: animation-end;
  transition: all 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 768px) {
  header.minimized {
    height: 3.8vw;
  }
  .hamburger {
    display: none !important;
  }
  .pan-animation {
    animation-name: pan;
    animation-duration: 8s;
    animation-delay: 2s;
  }
}

@keyframes animation-end {
  0% {}
  25% {}
  50% {}
  100% {}
}

.section {
  margin-top: 0vw;
  padding: 10%;
  position: relative;
  padding: 6vw 5vw 3vw 5vw;
}

.tree-container__header, .section__header {
  text-align: center;
  display: block;
  width: 100vw;
  color: white;
  font-size: 3.66vw;
  top: 120vh;
}

.section__header {
  font-size: 4vw;
}

.place-holder {
  /* overflow: visible; */
  overflow-x: visible;
  margin-top: 3vw;
  position: relative;
  width: 100vw;
  height: 40vw;
}

.section__quote, .section__quote .foreground {
  background: linear-gradient( rgba(0, 0, 250, 0.25), rgba(0, 0, 0, 0.45)), url('../img/tree_first.png');
  width: 100vw;
  height: 40vw;
  margin-left: -5vw;
  margin-top: 5vw;
  position: static !important;
  left: 0;
  background-size: 100% !important;
  /* background-attachment: fixed !important; */
  background-repeat: no-repeat !important;
  color: white !important;
}

.about .section__quote {
  background: linear-gradient( rgba(0, 0, 250, 0.25), rgba(0, 0, 0, 0.45)), url('../img/tree_with_sun.jpg');
}

.services .section__quote {
  background: linear-gradient( rgba(0, 0, 250, 0.25), rgba(0, 0, 0, 0.45)), url('../img/planted_tree.jpg');
}

.works .section__quote {
  background: linear-gradient( rgba(0, 0, 250, 0.25), rgba(0, 0, 0, 0.45)), url('../img/tree_third.jpg');
}

.founder .section__quote {
  background: linear-gradient( rgba(0, 0, 250, 0.25), rgba(0, 0, 0, 0.45)), url('../img/tree_second.png');
}

.quote {
  border-top: 1px dashed white;
  padding: 1vw;
  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-size: 2vw;
  width: 30%;
  position: relative;
  margin: auto;
  text-align: center;
  background: none #141414 !important;
  display: block;
}

.section__header {
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  font-family: 'Roboto Condensed';
  padding-top: 1.3vw;
  line-height: 3.66vw;
  position: relative;
  margin-bottom: 1vw;
  top: 0;
  z-index: 2;
  width: 100%;
  padding-bottom: 1vw;
}

.section__paragraph {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 2vw;
  font-family: 'Roboto Condensed';
}

.pan-animation--first-header {
  animation-name: pan--first-header;
  top: 21.24vw;
}

.pan-animation--second-header {
  animation-name: pan--second-header;
  text-align: left;
  left: 5vw;
}

.pan-animation--third-header {
  animation-name: pan--third-header;
  text-align: left;
  left: 70vw;
}

.pan-animation--fourth-header {
  animation-name: pan--fourth-header;
  text-align: left;
  left: 5vw;
}

@keyframes pan--first-header {
  0% {}
  25% {
    transform: scale(0.5);
    width: 200vw;
    top: -47.79vw;
    left: 0vh;
  }
  50% {
    width: 200vw;
    top: -67.46vw;
    left: -150vw;
  }
  75% {
    width: 200vw;
    top: -89.26vw;
    left: 0vw;
  }
  100% {
    width: 100vw;
    top: -151.849vw;
    left: -0vh;
  }
}

@keyframes pan--second-header {
  0% {
    transform: scale(0.5);
    left: -50vw;
  }
  25% {
    transform: scale(1);
    top: 25.03vw;
    left: 8vh;
  }
  50% {
    transform: scale(0.5);
    width: 200vw;
    top: -78.7vw;
    left: -80vw;
  }
  75% {
    width: 200vw;
    top: -101.2vw;
    left: -20vw;
  }
  100% {
    width: 100vw;
    top: -163.089vw;
    left: 0vw;
  }
}

@keyframes pan--third-header {
  0% {
    left: 100vw;
    top: 100vw;
  }
  25% {
    top: 81.03vw;
    left: 150vh;
    transform: scale(0.5);
  }
  50% {
    top: 25vw;
    left: 5vw;
    transform: scale(1);
  }
  75% {
    transform: scale(0.5);
    top: -101.2vw;
    left: 140vw;
  }
  100% {
    top: -163.089vw;
    left: 0vw;
  }
}

@keyframes pan--fourth-header {
  0% {
    left: -2vw;
    top: 120vh;
  }
  25% {
    top: 120vh;
    left: 8vh;
  }
  50% {
    top: 180vh;
    left: -80vw;
    transform: scale(0.5);
  }
  75% {
    transform: scale(1);
    top: 25.03vw;
    width: 200vw;
    left: 5vw;
  }
  100% {
    transform: scale(0.5);
    width: 100vw;
    top: -163.089vw;
    left: -100vw;
  }
}

@keyframes pan {
  0% {}
  25% {
    width: 200vw;
    top: -59.03vw;
    left: 0vh;
  }
  50% {
    width: 200vw;
    top: -78.7vw;
    left: -100vw;
  }
  75% {
    width: 200vw;
    top: -101.2vw;
    left: 0vw;
  }
  100% {
    width: 100vw;
    top: -63.089vw;
    left: -0vh;
  }
}

.animation-paused {
  animation-play-state: paused !important;
}

.overlay {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100 */
    background: radial-gradient(
    circle closest-corner at center 45vw,
    #222,
    black 40%
  ) no-repeat;
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 90vw;
  animation-name: fade-out;
  left: 0;
  opacity: 0.8;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-name: fade-out;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.box {
  transition: color 0.25s;
}

.box::before, .box::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.box::before {
  top: 0;
  left: 0;
}

.box::after {
  bottom: 0;
  right: 0;
}

.box::before, .box::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  z-index: 3;
}

.box::after {
  top: 0;
  left: 0;
}

.box.box--opaque::before, .box.box--opaque::after {
  width: 98.5%;
  height: 99.5%;
  z-index: 3;
}

.box.box--opaque::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.box.box--opaque::before {
  border-top-color: #fbca67;
  border-right-color: #fbca67;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.box.box--opaque::after {
  border-bottom-color: #fbca67;
  border-left-color: #fbca67;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

@media screen and (max-width: 1300px) and (min-width: 768px) {
  .box h3 {
    font-size: 2.8vw;
  }
  .box p {
    font-size: 2.0vw;
  }
  .section__paragraph {
    font-size: 1.7vw;
    font-weight: 600;
  }
  .box {
    width: 33vw;
  }
  .box--blue, .box--light-blue {
    top: 30vw;
  }
  a.navigation__link {
    line-height: 3.5vw;
  }
  li.logo {
    flex-grow: 2;
  }
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 4vw;
  }
  .section__paragraph {
    font-size: 3.5vw;
    font-weight: 500;
  }
  .section__header {
    font-size: 8vw;
    line-height: 8vw;
  }
  .box h3, .skills h3 {
    font-size: 4vw;
    line-height: 4vw !important;
  }
  .box p {
    font-size: 2.7vw;
  }
  header {
    width: 30%;
    left: -30%;
    height: 100%;
    transition: 1s;
  }
  header.is-active {
    left: 0;
  }
  .hamburger {
    top: 2%;
    left: 2%;
    position: fixed;
    z-index: 4;
  }
  .navigation-container {
    flex-direction: column;
    margin: auto;
    margin-top: 65%;
  }
  ul.navigation-container li {
    margin: 5vw 0 5vw 0;
    width: 100%;
  }

  ul.navigation-container li a {
    text-align: left;

  }

  .navigation__link {
    border-top: 0;
    width: 100%;
    text-align: left;
  }
  a.navigation__link:not(.logo__anchor)::after, a.navigation__link:not(.logo__anchor)::before {
    display: none;
  }
  li.logo {
    display: none;
  }
  .tree-container {
    height: 96vw;
    transition: 1s;
  }
  .tree-container {
    height: 160.2vw;
  }
  .tree-container__header {
    display: none;
  }
  .box {
    width: 30vw;
  }
  .box--red, .box--green {
    top: 45vw;
  }
  .box--blue, .box--light-blue {
    top: 85vw;
  }
  .box h3, .box p {
    padding: 2.09vw;
    /* font-size: 3.09vw; */
    line-height: 3vw;
    transition: 1s;
  }
  .tree-container {
    margin-top: 0;
  }
  .tree-container__header {
    font-size: 4vw;
    line-height: 4vw;
  }
}

.services-container__box {
  top: 0;
  left: 0;
  flex-grow: 1;
  min-width: 23%;
  margin: 1%;
}

.services-container__box>div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10%;
  padding: 30%;
  max-width: 100%;
}

.box--design>img {
  top: 15%;
  left: 50%;
  position: absolute;
  animation-duration: 5s;
  animation-name: paint-brush;
  animation-iteration-count: infinite;
}

@keyframes paint-brush {
  0% {
    top: 15%;
    left: 50%;
  }
  25% {
    top: 5%;
    left: 55%;
  }
  50% {
    top: 5%;
    left: 45%;
  }
  75% {
    top: 10%;
    left: 40%;
  }
  100% {
    top: 15%;
    left: 50%;
  }
}

.box--design>div {
  background-image: url('../img/tree--white-blue.png');
}

.box--seo>div {
  background-image: url('../img/tree--white-blue.png');
}

.box--front-end>div {
  background-image: url('../img/laptop.png');
}

.box--front-end>div>h5 {
  position: absolute;
  font-family: courier new;
  padding: 0 5px 0 5px;
  background: black;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.box--front-end>div>h5:nth-child(1) {
  top: -10%;
  left: 0%;
  color: orange !important;
  animation-name: header;
}

@keyframes header {
  0 % {
    top: -10%;
    left: 0%;
  }
  100% {
    top: 20%;
    left: 40%;
    opacity: 0.1;
  }
}

.box--front-end>div>h5:nth-child(2) {
  top: 30%;
  left: 100%;
  color: lime !important;
  animation-name: div;
  animation-delay: 0.5s;
}

@keyframes div {
  0 % {
    top: 40%;
    left: 100%;
  }
  100% {
    top: 20%;
    left: 40%;
    opacity: 0.1;
  }
}

.box--front-end>div>h5:nth-child(3) {
  top: 40%;
  left: -50%;
  color: deeppink !important;
  animation-name: article;
  animation-delay: 1s;
}

@keyframes article {
  0% {
    top: 40%;
    left: -50%;
  }
  100% {
    top: 20%;
    left: 30%;
    opacity: 0;
  }
}

.box--front-end {
  overflow: hidden;
}

.box--front-end>div::after {
  /* content: 'asdf'; */
  position: absolute;
  font-family: courier new;
  left: 50%;
  width: 20vw;
  height: 20vw;
}

.box--back-end>div {
  background-image: url('../img/paint-brush.png')
}

@media screen and (max-width: 1200px) {
  .services-container {
    flex-wrap: wrap;
  }
  .services-container__box {
    max-width: 48%;
    margin: 1%;
  }
}

.foliage {
  position: absolute;
  width: 10vw;
  height: 10vw;
  left: 0;
  top: 25vw;
}

.works-container {
  display: flex;
  flex-wrap: wrap;
}

.works-container__box {
  width: 20%;
  max-width: 20%;
  height: 13.32vw;
  flex-grow: 1;
  overflow: hidden;
  padding: 1.5vw;
  background: rgba(0, 0, 0, 0) !important;
}

.works-container__box h4 {
  background: red !important;
  border-radius: 0 !important;
  padding-left: 5%;
  line-height: 3.66vw;
  width: 95%;
  height: 100%;
}

.works-container__in-progress h4 {
  box-shadow: inset 0 0 10px #A0A0A0;
  background: #dfdfdf !important;
  color: #acacac !important;
}

.works-container__in-progress div {
  width: 100vw;
  height: 100vw;
  position: absolute;
  /* background: red; */
  top: 0;
  left: 0;
}

.works-container__box img {
  width: 100%;
}

.founder-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.founder-container .circle {
  width: 15vw;
  height: 15vw;
  position: relative;
  margin: auto;
  border: 7px dashed blue;
  margin-top: 3vw;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  background-image: url('../img/Josh-bio-edit.jpg');
  background-position: top;
  background-size: 100%;
}

.box--seo>div:nth-child(2) {
  position: absolute;
  /* 109px */
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  padding: 0;
  background-size: 270%;
  /* 16.45 */
  top: 5%;
  /* -12.75 */
  left: -5%;
  animation-name: search;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-position-x: -11%;
  background-position-y: 37.5%;
  box-shadow: inset 0 0 10px #A0A0A0;
  z-index: 2;
}

@keyframes search {
  0% {
    top: 5%;
    left: -5%;
    background-position-x: -11%;
    background-position-y: 37.5%;
  }
  25% {
    top: 10%;
    left: -5%;
    background-position-x: -11%;
    background-position-y: 74%;
  }
  50% {
    top: 10%;
    left: 25%;
    background-position-x: 75%;
    background-position-y: 74%;
  }
  75% {
    top: 5%;
    left: -5%;
    background-position-x: -11%;
    background-position-y: 37.5%;
  }
}

@media screen and (max-width: 768px) {
  .box--seo>div:nth-child(2) {
    width: 14vw;
    height: 14vw;
  }
  .contact.section p {
    font-size: 4.5vw;
  }
}

.contact.section h4, .contact.section p {
  width: 50%;
  font-family: 'Roboto Condensed';
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
}

.contact.section p {
  font-size: 2.5vw;
}

.green {
  color: green;
  text-transform: uppercase;
}

.section.skills h3+div {
  margin-bottom: 1vw;
}

.skill {
  background: linear-gradient(90deg, #81EBF5 0%, #31B1CF 100%);
  text-align: right;
  padding-right: 20px;
  line-height: 30px;
  border-radius: 0 20px 20px 0;
  height: 28px;
  width: 0%;
}

.skills h3 {
  background: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 1367px) {
  a.navigation__link {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }

}
