* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font: 'Roboto Condensed';
  overflow-x: hidden;
  font-weight: 300;
  background: #0A0A0A;
  color: white;
}

header {
  background: #232323 !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  /* background: #222222; */
  transition: 1s;
  width: 100%;
  height: 5vw;
}

h4, h3 {
  font-family: 'Roboto Condensed';
  font-size: 2vw;
}

.hamburger-inner:before, .hamburger-inner:after, .hamburger-inner {
  background-color: white !important;
}

.hidden {
  display: none;
}

.centered-absolute {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}

.centered-relative {
  display: block;
  position: relative;
  margin: auto;
}

.background-image {
  background-position: center center;
  background-size: cover;
}

.navigation {
  background: #1c1c1c !important;
  box-shadow: 3px 3px 3px black !important;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

.navigation-container {
  display: flex;
  width: 65%;
  margin: auto;
  position: relative;
}

.navigation li {
  flex-grow: 1;
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
}

a.navigation__link {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-align: center;
  color: white;
  position: relative;
  text-decoration: none;
  line-height: 2vw;
  width: 80%;
  margin: auto;
}

a.navigation__link:not(.logo__anchor)::after, a.navigation__link:not(.logo__anchor)::before {
  height: 2px;
  z-index: 1;
  content: ' ';
  background: black;
  width: 100%;
  transition: 1s;
  transition-timing-function: ease-out;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

a.navigation__link:not(.logo__anchor)::before {
  background: blue;
  width: 0;
  z-index: 2;
}

a.navigation__link:hover:not(.logo__anchor)::before {
  width: 100%;
}

li.logo .navigation__link {
  border-top: 0px;
}

li.logo {
  flex-grow: 1;
}

a.navigation__link img {
  flex-grow: 1;
  left: 50%;
  transform: translateX(-50%);
  top: -1vw;
  display: block;
  margin: auto;
  max-width: 100%;
  position: absolute;
}

.box h3, .skills h3 {
  background: #222222;
  margin: auto;
  font-family: 'Roboto Condensed';
}

.tree-container {
  left: 0;
  width: 100%;
  height: 56.2vw;
  margin-top: 4vw;
  position: relative;
  overflow: hidden;
}

.box {
  opacity: 0;
  position: absolute;
  width: 16vw;
}

.box h3, .box p {
  padding: 1.09vw;
  font-size: 18px;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}

.box.box--opaque h3, .box.box--opaque p, .box.box--opaque {
  opacity: 1;
}

.box h3 {
  font-size: 1.8vw;
}

.box p {
  font: 18px/24px "Roboto", Helvetica, Helvetica Neue, Arial;
  font-size: 1.3vw;
  font-weight: 400;
}
.box--red, .box--green {
  top: 5vw;
}

.box--blue, .box--light-blue {
  top: 25vw;
}

.box--red {
  left: 14vw;
}


.box--blue {
  left: 12.5vw;
}


.box--green {
  right: 14vw;
}


.box--light-blue {
  right: 12.5vw;
}


.services-container {
  display: flex;
}

.services-container .services-container__box {
  overflow: visible !important;
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  align-content: center;
}

.services-container .services-container__box h3 {
  background: rgba(0, 0, 0, 0);
  flex-grow: 1;
}

.services-container .services-container__box img {
  width: 30%;
}

.services-container .services-container__box p {
  color: white;
  flex-grow: 100;
}
.tree-m {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 24vw;
  background-position-y: 10vh;
  background-image: url('../img/tree-m.png');
}

@media screen and (min-width: 768px) {
  header.minimized {
    height: 3.8vw;
  }
  .hamburger {
    display: none !important;
  }
}

.section {
  margin-top: 0vw;
  padding: 10%;
  position: relative;
  padding: 6vw 5vw 3vw 5vw;
}

.section__header {
  text-align: center;
  display: block;
  width: 100vw;
  color: white;
  font-size: 3.66vw;
  top: 120vh;
}

.section__header {
  font-size: 4vw;
}

.place-holder {
  overflow-x: visible;
  margin-top: 3vw;
  position: relative;
  width: 100vw;
  height: 40vw;
}

.section__quote, .section__quote .foreground {
  width: 100vw;
  height: 40vw;
  margin-left: -5vw;
  margin-top: 5vw;
  position: static !important;
  left: 0;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  color: white !important;
}

.quote {
  border-top: 1px dashed white;
  padding: 1vw;
  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-size: 2vw;
  width: 30%;
  position: relative;
  margin: auto;
  text-align: center;
  background: none #141414 !important;
  display: block;
}

.section__header {
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  font-family: 'Roboto Condensed';
  background: darkblue;
  padding-top: 1.3vw;
  line-height: 3.66vw;
  position: relative;
  margin-bottom: 1vw;
  top: 0;
  z-index: 2;
  width: 100%;
  padding-bottom: 1vw;
}

.section__paragraph {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 2vw;
  font-family: 'Roboto Condensed';
}

.box {
  transition: color 0.25s;
}

.box::before, .box::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.box::before {
  top: 0;
  left: 0;
}

.box::after {
  bottom: 0;
  right: 0;
}

.box::before, .box::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  z-index: 3;
}

.box::after {
  top: 0;
  left: 0;
}

.box.box--opaque::before, .box.box--opaque::after {
  width: 98.5%;
  height: 99.5%;
  z-index: 3;
}

.box.box--opaque::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 1.5s, width 1.25s ease-out 1.5s, height 1.25s ease-out 1.75s;
}

.box.box--opaque::before {
  border-top-color: #fbca67;
  border-right-color: #fbca67;
  transition: width 1.25s ease-out, height 1.25s ease-out 1.25s;
}

.box.box--opaque::after {
  border-bottom-color: #fbca67;
  border-left-color: #fbca67;
  transition: height 1.25s ease-out, width 1.25s ease-out 1.25s;
}

@media screen and (max-width: 1300px) and (min-width: 768px) {
  .box h3 {
    font-size: 2.8vw;
  }
  .box p {
    font-size: 2.0vw;
  }
  .section__paragraph {
    font-size: 1.7vw;
    font-weight: 600;
  }
  .box {
    width: 33vw;
  }
  .box--blue, .box--light-blue {
    top: 30vw;
  }
  a.navigation__link {
    line-height: 3.5vw;
  }
  li.logo {
    flex-grow: 2;
  }
}

@media screen and (max-width: 768px) {
  .overlay {
    display: none;
  }
  h4 {
    font-size: 4vw;
  }
  .section__paragraph {
    font-size: 3.5vw;
    font-weight: 500;
  }
  .section__header {
    font-size: 8vw;
    line-height: 8vw;
  }
  .box h3, .skills h3 {
    font-size: 4vw;
    line-height: 4vw !important;
  }
  .box p {
    font-size: 2.7vw;
  }
  header {
    width: 30%;
    left: -30%;
    height: 100%;
    transition: 1s;
  }
  header.is-active {
    left: 0;
  }
  .hamburger {
    top: 2%;
    left: 2%;
    position: fixed;
    z-index: 4;
  }
  .navigation-container {
    flex-direction: column;
    margin: auto;
    margin-top: 65%;
  }
  ul.navigation-container li {
    margin: 5vw 0 5vw 0;
    width: 100%;
  }

  ul.navigation-container li a {
    text-align: left;

  }

  .navigation__link {
    border-top: 0;
    width: 100%;
    text-align: left;
  }
  a.navigation__link:not(.logo__anchor)::after, a.navigation__link:not(.logo__anchor)::before {
    display: none;
  }
  li.logo {
    display: none;
  }
  .tree-container {
    height: 96vw;
    transition: 1s;
  }
  .tree-container {
    height: 160.2vw;
  }
  .tree-container__header {
    display: none;
  }
  .box {
    width: 30vw;
  }
  .box--red, .box--green {
    top: 45vw;
  }
  .box--blue, .box--light-blue {
    top: 85vw;
  }
  .box h3, .box p {
    padding: 2.09vw;
    /* font-size: 3.09vw; */
    line-height: 3vw;
    transition: 1s;
  }
  .tree-container {
    margin-top: 0;
  }
  .tree-container__header {
    font-size: 4vw;
    line-height: 4vw;
  }
}

.services-container__box {
  top: 0;
  left: 0;
  flex-grow: 1;
  min-width: 23%;
  margin: 1%;
}

.services-container__box>div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10%;
  padding: 30%;
  max-width: 100%;
}

.box--design>img {
  top: 15%;
  left: 50%;
  position: absolute;
  animation-duration: 5s;
  animation-name: paint-brush;
  animation-iteration-count: infinite;
}

@keyframes paint-brush {
  0% {
    top: 15%;
    left: 50%;
  }
  25% {
    top: 5%;
    left: 55%;
  }
  50% {
    top: 5%;
    left: 45%;
  }
  75% {
    top: 10%;
    left: 40%;
  }
  100% {
    top: 15%;
    left: 50%;
  }
}

.box--design>div {
  background-image: url('../img/tree--white-blue.png');
}

.box--seo>div {
  background-image: url('../img/tree--white-blue.png');
}

.box--front-end>div {
  background-image: url('../img/laptop.png');
}

.box--front-end>div>h5 {
  position: absolute;
  font-family: courier new;
  padding: 0 5px 0 5px;
  background: black;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.box--front-end>div>h5:nth-child(1) {
  top: -10%;
  left: 0%;
  color: orange !important;
  animation-name: header;
}

@keyframes header {
  0 % {
    top: -10%;
    left: 0%;
  }
  100% {
    top: 20%;
    left: 40%;
    opacity: 0.1;
  }
}

.box--front-end>div>h5:nth-child(2) {
  top: 30%;
  left: 100%;
  color: lime !important;
  animation-name: div;
  animation-delay: 0.5s;
}

@keyframes div {
  0 % {
    top: 40%;
    left: 100%;
  }
  100% {
    top: 20%;
    left: 40%;
    opacity: 0.1;
  }
}

.box--front-end>div>h5:nth-child(3) {
  top: 40%;
  left: -50%;
  color: deeppink !important;
  animation-name: article;
  animation-delay: 1s;
}

@keyframes article {
  0% {
    top: 40%;
    left: -50%;
  }
  100% {
    top: 20%;
    left: 30%;
    opacity: 0;
  }
}

.box--front-end {
  overflow: hidden;
}

.box--front-end>div::after {
  /* content: 'asdf'; */
  position: absolute;
  font-family: courier new;
  left: 50%;
  width: 20vw;
  height: 20vw;
}

.box--back-end>div {
  background-image: url('../img/monitor.png');
  z-index: 2;
}
.box--back-end .code {
  position: absolute;
  background: rgba(0,0,0,0);
  font-family: courier new;
  top: 12%;
  width: 50%;
  height: 0;
  font-size: 5px;
  text-align: left;
  z-index: 1;
  transform: translateY(-50%);
  overflow: hidden;
  line-height: 10px;
  color: green !important;
  height: 100%;
  animation-duration: 3.5s;
  animation-name: code;
  animation-timing-function: steps();
  animation-iteration-count: infinite;
  /* animation-fill-mode: forwards; */
}
@keyframes code {
  0% {
    top: 100%;
  }
  25% {
    top: 75%;
  }
  50% {
    top: 50%;
  }
  75% {
    top: 25%;
  }
  100% {
    top: 0%;
  }
}
div.screen {
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
  overflow-x: hidden;
  top: -63%;
  right: 0;
  left: 0;
  bottom: 0;
  height: 15%;
  width: 53%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .services-container {
    flex-wrap: wrap;
  }
  .services-container__box {
    max-width: 48%;
    margin: 1%;
  }
}

.foliage {
  position: absolute;
  width: 10vw;
  height: 10vw;
  left: 0;
  top: 25vw;
}

.works-container {
  display: flex;
  flex-wrap: wrap;
}

.works-container__box {
  width: 20%;
  max-width: 20%;
  height: 13.32vw;
  flex-grow: 1;
  overflow: hidden;
  padding: 1.5vw;
  background: rgba(0, 0, 0, 0) !important;
}

.works-container__box h4 {
  background: red !important;
  border-radius: 0 !important;
  padding-left: 5%;
  line-height: 3.66vw;
  width: 95%;
  height: 100%;
}

.works-container__in-progress h4 {
  box-shadow: inset 0 0 10px #A0A0A0;
  background: #dfdfdf !important;
  color: #acacac !important;
}

.works-container__in-progress div {
  width: 100vw;
  height: 100vw;
  position: absolute;
  /* background: red; */
  top: 0;
  left: 0;
}

.works-container__box img {
  width: 100%;
}

.founder-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.founder-container .circle {
  width: 15vw;
  height: 15vw;
  position: relative;
  margin: auto;
  border: 7px dashed blue;
  margin-top: 3vw;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  background-image: url('../img/Josh-bio-edit.jpg');
  background-position: top;
  background-size: 100%;
}

.box--seo>div:nth-child(2) {
  position: absolute;
  /* 109px */
  /* width: 18vw;
  height: 18vw; */
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
  padding: 0;
  background-size: 270%;
  /* 16.45 */
  top: 5%;
  /* -12.75 */
  left: -5%;
  animation-name: search;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-position-x: -21%;
  background-position-y: 30.5%;
  box-shadow: inset 0 0 10px #A0A0A0;
  z-index: 2;
}

@keyframes search {
  0% {
    top: 5%;
    left: -5%;
    background-position-x: -21%;
    background-position-y: 30.5%;
  }
  25% {
    top: 10%;
    left: -5%;
    background-position-x: -21%;
    background-position-y: 74%;
  }
  50% {
    top: 10%;
    left: 25%;
    background-position-x: 55%;
    background-position-y: 74%;
  }
  75% {
    top: 5%;
    left: -5%;
    background-position-x: -21%;
    background-position-y: 30.5%;
  }
}

@media screen and (max-width: 768px) {
  .box--seo>div:nth-child(2) {
    width: 14vw;
    height: 14vw;
  }
  .contact.section p {
    font-size: 4.5vw;
  }
}

.contact.section h4, .contact.section p {
  width: 50%;
  font-family: 'Roboto Condensed';
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
}

.contact.section p {
  font-size: 2.5vw;
}

.green {
  color: green;
  text-transform: uppercase;
}

.section.skills h3+div {
  margin-bottom: 1vw;
}

.skill {
  background: linear-gradient(90deg, #81EBF5 0%, #31B1CF 100%);
  text-align: right;
  padding-right: 20px;
  line-height: 30px;
  border-radius: 0 20px 20px 0;
  height: 28px;
  width: 0%;
}

.skills h3 {
  background: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 1367px) {
  a.navigation__link {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }

}
.splash-screen {
  position:fixed;
  width: 100vw;
  height: 100vw;
  background-image: url('../img/tree.svg');
  background-color: white;
  /* background-position: -30%; */
  background-position-y: 33%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 30%;
  z-index: 10;
}

.percent-loaded {
  position: absolute;
  color: black;
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
}
.loading-bar {
  position: absolute;
  height: .5vw;
  transition: 1s;
  width: 0%;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(90deg, #81EBF5 0%, #31B1CF 100%);
}
.percent-loaded-container {
  position: absolute;
  z-index: 11;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  top: 50vh;
}
